<header>
  <menu class="flex gap-4">
    <a href="/">
      <li>Home</li>
    </a>
    <a href="/blog/">
      <li>Blog</li>
    </a>
    <a href="/projects/">
      <li>Projects</li>
    </a>
  </menu>
</header>
