---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<header>
  <div class="flex gap-5 font-bold p-2 pl-8">
    <a
      class={currentPath === ""
        ? "text-green-400"
        : "text-green-950 hover:text-green-400"}
      href="/"
    >
      Home
    </a>
    <a
      class={currentPath === "blog/" || currentPath === "blog"
        ? "text-green-400"
        : "text-green-950 hover:text-green-400"}
      href="/blog/"
    >
      Blog
    </a>
    <a
      class={currentPath === "projects/" || currentPath === "projects"
        ? "text-green-400"
        : "text-green-950 hover:text-green-400"}
      href="/projects/"
    >
      Projects
    </a>
  </div>
</header>
